body {
  position: relative;
}

/* Header Section */

  /* nav-section */
  /* END Of nav-section */

  /* intro-section */
  .intro-section {
    padding-top: 400px;
    padding-bottom: 400px;
    background-color: #18bc9c;
  }
  /* END Of intro-section */

/* END Of Header Section */



/* Body Section */

  /* portfolio-section */
  .portfolio-section {
    padding-top: 400px;
    padding-bottom: 400px;
  }
  /* END Of portfolio-section */

  /* about-section */
  .about-section {
    padding-top: 250px;
    padding-bottom: 250px;
    background-color: #18bc9c;
  }
  /* END Of about-section */

  /* contact-section */
  .contact-section {
    padding-top: 400px;
    padding-bottom: 400px;
  }
  /* END Of contact-section */

/* END Of Body Section */



/* Foot Section */

  /* foot-info-section */
  .foot-info-section {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #2c3e50;
  }
  /* END Of foot-info-section */

  /* foot-bar */
  .foot-bar {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #233140;
  }
  /* END foot-bar */

/* END Of Foot Section */