/* Header Section */

  /* nav-section */
  /* END Of nav-section */

  /* intro-section */
  .section-head .intro-section {
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #18bc9c;
  }

  .intro-section .row {
    color: #FFFFFF;
  }

  .intro-section .intro-text {
    margin-top: 20px;
  }

  .intro-section .intro-text span:first-child {
    font-size: 4.75em;
    font-weight: bold;
  }

  .intro-section .intro-text span:last-child {
    font-size: 1.7em;
  }

  @media (max-width: 768px) {
    .intro-section {
      padding-top: 100px;
      padding-bottom: 50px;
    }

    .intro-section .intro-text span:first-child {
      font-size: 2em;
    }

    .intro-section .intro-text span:last-child {
      font-size: 1.23em;
    }
  }
  /* END Of intro-section */

/* END Of Header Section */



/* Body Section */

  /* portfolio-section */
  .section-body .portfolio-section {
    padding-top: 83px;
    padding-bottom: 100px;
  }

  .portfolio-section .col-sm-4 {
    margin-bottom: 30px;
  }

  .portfolio-section .col-sm-4 img {
    /*position: relative;*/
  }

  .portfolio-section .col-sm-4 i {
    position: absolute;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 1;
  }
  /* END Of portfolio-section */

  /* about-section */
  .section-body .about-section {
    padding-top: 80px;
    padding-bottom: 100px;
    color: #FFFFFF;
    background-color: #18bc9c;
  }

  .about-section p {
    font-size: 1.4em;
  }

  .about-section a {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 1.45em;
    line-height: 33px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
  }
  /* END Of about-section */

  /* contact-section */
  .section-body .contact-section {
    padding-top: 400px;
    padding-bottom: 400px;
  }
  /* END Of contact-section */

/* END Of Body Section */



/* Foot Section */

  /* foot-info-section */
  .foot-info-section {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #2c3e50;
  }
  /* END Of foot-info-section */

  /* foot-bar */
  .foot-bar {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #233140;
  }
  /* END foot-bar */

/* END Of Foot Section */



/* Common CSS For All Section */

  /* star-light and star-primary CSS */
  hr.star-light,
  hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
  }

  hr.star-light:after,
  hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-size: 2em;
    font-family: FontAwesome;
  }

  hr.star-light {
    border-color: #fff;
  }

  hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
  }

  hr.star-primary {
    border-color: #2c3e50;
  }

  hr.star-primary:after {
    color: #2c3e50;
    background-color: #FFFFFF;
  }
  /* END Of star-light and star-primary CSS */



  /* section-title CSS */
  .section-title {
    font-size: 3em;
    font-weight: bold;
  }
  /* END Of section-title CSS */

/* END Of Common CSS For All Section */